<tr>
  <td>
    <a href="#" 
      data-bs-toggle="modal" 
      data-bs-target="#externalModal" 
      data-detail-url="<%= article.detail_page_url %>"
      data-article-title="<%= article.article_title %>"
      class="article-link"
    >
      <%= article.article_title %>
    </a>
  </td>
</tr>