/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.loader {
  margin: 15px auto;
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #6b6b6b, 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.5), -1.8em -1.8em 0 0em rgba(107,107,107, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.7), 1.8em -1.8em 0 0em #6b6b6b, 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.5), 1.8em -1.8em 0 0em rgba(107,107,107, 0.7), 2.5em 0em 0 0em #6b6b6b, 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.5), 2.5em 0em 0 0em rgba(107,107,107, 0.7), 1.75em 1.75em 0 0em #6b6b6b, 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.5), 1.75em 1.75em 0 0em rgba(107,107,107, 0.7), 0em 2.5em 0 0em #6b6b6b, -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.5), 0em 2.5em 0 0em rgba(107,107,107, 0.7), -1.8em 1.8em 0 0em #6b6b6b, -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.5), -1.8em 1.8em 0 0em rgba(107,107,107, 0.7), -2.6em 0em 0 0em #6b6b6b, -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.5), -2.6em 0em 0 0em rgba(107,107,107, 0.7), -1.8em -1.8em 0 0em #6b6b6b;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #6b6b6b, 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.5), -1.8em -1.8em 0 0em rgba(107,107,107, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.7), 1.8em -1.8em 0 0em #6b6b6b, 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.5), 1.8em -1.8em 0 0em rgba(107,107,107, 0.7), 2.5em 0em 0 0em #6b6b6b, 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.5), 2.5em 0em 0 0em rgba(107,107,107, 0.7), 1.75em 1.75em 0 0em #6b6b6b, 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.5), 1.75em 1.75em 0 0em rgba(107,107,107, 0.7), 0em 2.5em 0 0em #6b6b6b, -1.8em 1.8em 0 0em rgba(107,107,107, 0.2), -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.5), 0em 2.5em 0 0em rgba(107,107,107, 0.7), -1.8em 1.8em 0 0em #6b6b6b, -2.6em 0em 0 0em rgba(107,107,107, 0.2), -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.5), -1.8em 1.8em 0 0em rgba(107,107,107, 0.7), -2.6em 0em 0 0em #6b6b6b, -1.8em -1.8em 0 0em rgba(107,107,107, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(107,107,107, 0.2), 1.8em -1.8em 0 0em rgba(107,107,107, 0.2), 2.5em 0em 0 0em rgba(107,107,107, 0.2), 1.75em 1.75em 0 0em rgba(107,107,107, 0.2), 0em 2.5em 0 0em rgba(107,107,107, 0.2), -1.8em 1.8em 0 0em rgba(107,107,107, 0.5), -2.6em 0em 0 0em rgba(107,107,107, 0.7), -1.8em -1.8em 0 0em #6b6b6b;
  }
}

#tag-suggestions {
  /* リストアイテムの高さに基づいて、約4行分（例: 2rem * 4 = 8rem + padding/border）に設定 */
  max-height: 10rem; /* 約160px。必要に応じて調整してください */
  overflow-y: auto; /* 高さを超えたらスクロールバーを表示 */
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

/* 候補リストの背景を白くし、モーダル内で見やすくする */
#tag-suggestions .list-group-item {
  background-color: #fff;
  /* ボタンにしたため、カーソルをポインターにする */
  cursor: pointer;
}

#tag-suggestions .list-group-item:hover {
  background-color: #EEE;
}

/* 折りたたみアイコンの回転アニメーション */
.toggle-icon {
  transition: transform 0.3s ease; /* スムーズなアニメーション */
  display: inline-block;
}

.collapse.show + * .toggle-icon-wrapper .toggle-icon,
.toggle-icon-wrapper[aria-expanded="true"] .toggle-icon {
  transform: rotate(90deg);
}

/* Placeholder text style adjustment for textareas */
#search-input-textarea::placeholder,
#search-input-textarea::-webkit-input-placeholder,
#search-input-textarea:-moz-placeholder,
#search-input-textarea::-moz-placeholder,
#search-input-textarea:-ms-input-placeholder {
  opacity: 0.7;
}